html {
    background: #253a56 url(back.svg) 90% 50% no-repeat fixed;;
    background-size: auto 75%;
    color: #eef;
    min-height: 100%;
    font-size: 96%;
}
body {
    max-width: 50em;
    margin: 1.5em auto 1.5em 3em;
}


body, h1, h2, h3, h4, p, ul, ol, dl, hr, li, html input, html button {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}

html textarea,
html input,
html button {
    margin: -3px 0;
    padding: 2px 4px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #051a36 0 0 0.4em;
    font-family: DejaVu Mono, monospace;
    font-size: 100%;
    background: #98afd4;
}
html input[type="button"],
html input[type="submit"],
html input[type="reset"],
html button {
    color: #ffaa00;
    background: #051a36;
    border: 1px solid #000;
}
textarea:focus, input:focus {
 border: 1px solid #000;
 box-shadow: #051a36 0 0 0.4em;
}
input:active {
 background: #98afd4;
 color: #000;
 border: 1px solid #000;
 box-shadow: #ffe 0 0 0.4em;
}

p {
    text-align: justify;
}

p, form, hr {
    margin-bottom: 1.5em;
}

p + ul, p + ol, p + ul.search, p + hr, p + .toctree-wrapper {
    margin-top: -1.5em;
}
html ul.search li {
    padding: 0;
    background: none;
}


h2, h3, h4 {
    letter-spacing: 0.125ex;
    margin-top: 1.5em;
    color: #ffaa00;
    text-shadow: #051a36 1px 1px 4px;
}

h1+div.section > h2:first-of-type,
h1+div.section > h3:first-of-type,
h1+div.section > h4:first-of-type,
h2+div.section > h3:first-of-type,
h2+div.section > h4:first-of-type,
h3+div.section > h4:first-of-type {
    margin-top: 0;
}

h1 {
    font-size: 200%;
    line-height: 1.25;
    margin-top: 1em;
    font-weight: normal;
    color: #ffb200;
    text-shadow: #051a36 1px 1px 4px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: normal;
    font-style: italic;
}

#topbar {
    min-height: 2.5em;
    padding: 2em 0 1.5em 0;
}
#topbar #logo a {
    font-size: 200%;
    text-decoration: none;
    white-space: nowrap;
    color: #ffaa00;
    text-shadow: #051a36 1px 1px 4px;
}
#topbar #logo a:hover {
    text-decoration: underline;
    color: #48f;
}

#logo img {
    max-height: 2em;
    margin: -0.25em 0 -0.5em -4px;
    vertical-align: middle;
}
#searchbox {
    font-size: 75%;
    float: right;
    margin: 0.5em 0;
}
#searchbox form {
    margin: 0;
}

a {
    color: #48f;
    text-decoration: none;
}
a:visited {
    color: #86e;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}
a.headerlink,
a.headerlink:hover {
    text-decoration: none;
    color: #48f;
}

ul, ol {
    padding-inline-start: 1.5em;
}

ul li {
    list-style: url("bullet.png");
}

section img {
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #051a36 1px 1px 4px;
    max-width: 100%;
    margin: 0 auto 1.5em auto;
}

div.project-thumb {
    text-align: center;
    margin-bottom: 1.5em;
}

div.project-thumb img {
    display: inline;
    max-width: 31%;
    margin-bottom: 0.125ex;
}
img.ablog-post-excerpt {
    display: inline;
    max-width: 31%;
    margin-bottom: 0.125ex;
}

hr {
 height: 1px;
 border: none;
 color: #ffaa00;
 background: transparent;
 border-bottom: 1px solid #ffb200;
 box-shadow: #051a36 1px 1px 4px;
}

iframe {
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #051a36 1px 1px 4px;
    max-width: 100%;
    margin: 0 auto 1.5em auto;
}
section p.ablog-post-title {
    margin-bottom: 0;
}
div.project-list li {
    display: inline-block;
    width: 280px;
    height: 210px;
    margin: 0.125ex;
    position: relative;
}
div.project-list li p {
    text-align: center;
    margin: 0;
}
div.project-list li p.ablog-post-excerpt {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -1px;
    left: 0;
}
div.project-list li p.ablog-post-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
div.project-list li p.ablog-post-title a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1000;
    font-weight: bold;
    text-shadow: #051a36 1px 1px 4px;
}
div.project-list img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
